body {
    background-color: #AAB396;
    font-family: Arial, sans-serif;
}

.container1{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px;
}

.container {
    background-color: #F4F2EB;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
}

.resto-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.resto-details {
    max-width: 60%;
}

.resto-details h3 {
    margin: 0;
    font-size: 1.8rem;
}

.resto-details p {
    margin: 5px 0;
}

.resto-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.menu-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
    gap: 20px;
}

.menu-item {
    width: 30%;
    text-align: center;
    background-color: #7D2E24;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.menu-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #D0D0D0;
    padding: 10px;
    border-radius: 5px;
}

.menu-item h5 {
    margin: 10px 0;
}

.logo {
    width: 150px;
    height: auto;
}

.footer-logo{
    width: 150px;
}
